
@font-face {
  font-family: 'History-Two';
  src: url('History-Two.eot?#iefix') format('embedded-opentype'),  url('History-Two.otf')  format('opentype'),
	     url('History-Two.woff') format('woff'), url('History-Two.ttf')  format('truetype'), url('History-Two.svg#History-Two') format('svg');
  font-weight: normal;
  font-style: normal;
}
